.row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.form-group {
    display: grid;
    margin-bottom: 1rem;
    flex: 1;
}

.form-group>label {
    margin-bottom: 0.5rem;
}
.p-ulchip {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    list-style: none;
}
.p-lichip {
    float: left;
    white-space: normal;
}
.ip36 {
    width: 100%;
}
.tableview-nav {
    min-height: 50px;
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-width: 0 0 2px 0;
    display: flex;
    flex: 1 1 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tableview-header {
    display: inline-block;
}

.tableview-nav li {
    border: solid transparent;
    border-width: 0 0 2px 0;
    padding: 1.25rem;
    font-weight: 700;
    margin: 0 0 -2px 0;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.tableview-nav li:hover {
    cursor: pointer;
}

.tableview-nav li.highlight {
    background: #ffffff;
    border-color: #316AB7;
    color: #316AB7;
}
.tableview-nav li.highlight button {
    color: #316AB7 !important;
}

.tableview-nav li:not(.highlight):hover {
    background: #ffffff;
    border-color: #adb5bd;
    color: #6c757d;
}
.tableview-nav li:not(.highlight):hover button {
    color: #6c757d !important;
    background-color: transparent !important;
}

.tableview-nav li a:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.2rem #bfdbfe;
}
.sub-menu-grouptab {
    color: red;
}
.sub-menu-tab {
    padding: 0.5rem 0.75rem 0.5rem 1.5rem;
}
.sub-menu-tab:hover {
    background-color: #f0f8ff;
    cursor: pointer;
}
.active-menu-tab {
    color: #316AB7;
    background-color: #f0f8ff;
}
.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    height: 1px;
    overflow: hidden;
}
.format-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.description {
    color: #aaa;
    font-size: 12px;
}
span.uutien {
    padding: 2px 5px;
    /* margin-right: 2px; */
    border-radius: 5px;
    font-size: 12px;
}
span.rqlap {
    background-color: #aaa;
    color: #fff;
}

span.rqchoduyet {
    background-color: #33c9dc;
    color: #fff
}

span.rqhuy {
    background-color: red;
    color: #fff
}

span.rqtuchoi {
    background-color: #ff8b4e;
    color: #fff
}

span.rqchapthuan {
    background-color: #6dd230 !important;
    color: #fff
}

span.rqthuhoi, span.uutien1 {
    background-color: #f17ac7;
    color: #fff
}

span.rqxoa, span.uutien2 {
    background-color: red;
    color: #fff
}

.card-nhom {
    margin: 0 !important;
    text-align: center;
    padding: 5px 15px;
    background-color: #f2f4f6;
    /* max-width: 200px; */
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.progress-bar-custom {
    height: 1.25rem !important;
    border-radius: 5px;
}
/* .p-chip {
    border-radius: 5px !important;
} */
.p-chip .p-chip-text {
    font-weight: bold;
}
.requestbutton {
    display: flex;
    flex: 1;
}
.requestbutton button {
    flex: 1;
    margin-right: 0.5rem;
}
.requestbutton button:last-child {
    margin-right: 0;
}
.formd.col-1, .formd.col-2, .formd.col-3, .formd.col-4, 
.formd.col-5, .formd.col-6, .formd.col-7, .formd.col-8, 
.formd.col-9, .formd.col-10, .formd.col-11, .formd.col-12 {
    padding-right: 1rem;
}
.span-note-request {
    font-size: 12px;
    align-items: center;
}
.cv-request {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #888;
}
.datetime-request {
    font-weight: bold;
    text-align: center;
}
.scrollbox-content {
    visibility: visible;
    transition: visibility 0s 0.2s;
}
.scrollbox_delayed {
    transition: visibility 0.2s;
    visibility: hidden;
}
.scrollbox_delayed:hover {
    transition: visibility 0s 0.2s;
    visibility: visible;
}
.request-cdate {
    font-size: 0.9rem;
}
.overdue-request {
    border-left: 4px solid red;
}
.alert-request {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 100%;
    font-weight:bold;
}
.alert-info {
    color: #00626e;
    background-color: #ccf2f6;
    border-color: #b8ecf3
}
.alert-success {
    color: #285b2a;
    background-color: #dbefdc;
    border-color: #cde9ce
}
.alert-danger {
    color: #7f231c;
    background-color: #fdd9d7;
    border-color: #fccac7
}
.alert-warning {
    color: #857a1f;
    background-color: #fffbd8;
    border-color: #fff9c8
}
.span-deadline {
    color: #fff;
    background-color: orange;
    padding: 3px 5px; 
    font-size: 11px; 
    border-radius: 5px;
}
.span-deadline:hover {
    cursor: pointer;
}
.td-table-file {
    border-bottom: 1px solid #eee;
}
.position-absolute {
	position: absolute !important;
}
.hoverMes {
	display: none;
}
.row-comment:hover .hoverMes {
	display: block !important;
}
.btn-func-cmt {
    visibility: hidden;
}
.row-comment:hover .btn-func-cmt {
    visibility: visible;
}
.r-file > ul > li {
    list-style-type: none;
    display: inline-block !important;
    width: 160px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
}
.r-file > ul > li:hover {
    background-color: #E5F3FF !important;
}
.r-file > ul > li .name-file {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: 5px 0;
    white-space: nowrap;
}
.css-icon {
    font-size: 14px;
    font-weight: bold;
}
.emote-md {
    width: 30px;
    height: 30px;
}
.emote-lg {
	width: 35px;
	height: 35px;
	padding-right: 0;
	padding-left: 0;
}
.th-table-render {
    padding: 0.75rem 0.5rem;
    border: 1px solid #ccc;
    border-left: none;
}
.th-table-render:first-child {
    border-left: 1px solid #ccc;
}
.td-table-render {
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
}
.td-table-render:first-child {
    border-left: 1px solid #ccc;
}