 $base-margin: 2em;
 $base-padding: 1em;
 $base-border-radius: 0.2em;
 $screen-xs-max: 786px;

 $screen-qHD: 2048px;
 $screen-fHD: 1920px;
 $screen-Mac: 1440px;
 $screen-HD: 1366px;

 $text-color: #263238;
 $text-color-inverted: #fff;
 $clickable-hover: #d8f1ff;

 $brand-primary: #2196f3;
 $brand-success: #26a25f;
 $brand-danger: #f82502;

 $accent-dark: #2196f3;
 $accent-light: #2196f3;
 $accent-lighter: #ffffff;

 $icon-danger: "!";
 $icon-success: "✓";

 $animation-time: 0.5s;

 .multi-step-list {

     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     list-style-type: none;
     padding: 10px 10px 10px 10px;
     overflow: auto;
     background: #efefef;


     .multi-step-item:first-child {
         margin-left: 0;
     }

     .multi-step-item:last-child {
         margin-right: 0;
     }
 }

 // Defaults for each 'step'
 .multi-step-item {
     position: relative;
     max-width: 100%;
     margin: 0 calc($base-margin / 6);

     @media only screen and (max-width: $screen-xs-max) {
         margin: 0 calc($base-margin / 6);
     }

     z-index: 2;
     border-radius: $base-border-radius;

     // Step title and subtitle defaults
     .item-title,
     .item-subtitle {
         position: relative;
         margin: 0;
         z-index: 2;
     }

     @media only screen and (max-width: $screen-xs-max) {
         .item-subtitle {
             display: none;
         }
     }

     .item-title {
         color: #72777a;
         font-weight: 600;
         margin: 0;
         white-space: nowrap;
         max-width: 10rem;
         overflow: hidden;
         text-overflow: ellipsis;
     }

     // Different step states [ active, current, completed, error]
     &.active:hover {
         cursor: pointer;
     }

     &.current .item-title,
     &.current .item-subtitle {
         color: $text-color-inverted;
     }

     &.active.current:hover .item-title,
     &.active.current:hover .item-subtitle {
         color: $brand-primary;
     }

     &.error:after {
         position: absolute;
         top: 50%;
         z-index: 2;
         transform: translateY(-50%);
         right: 0.5em;

         content: $icon-danger;
         color: $brand-danger;
     }

     :hover .item-title {
         color: $brand-primary;
         font-weight: 600;
         margin: 0;
         white-space: nowrap;
     }
 }

 .item-wrap {
     padding: $base-padding;
     position: relative;
     height: 100%;

     &:before,
     &:after {
         position: absolute;
         left: 0;
         content: " ";
         width: 100%;
         height: 50.5%;
         z-index: 1;
         background-color: $accent-lighter;
     }

     // Top of the arrow
     &:before {
         top: 0;
         transform: skew(20deg);
         border-radius: 0.2em 0.2em 0 0;
     }

     // Bottom of the arrow
     &:after {
         bottom: 0;
         transform: skew(-20deg);
         border-radius: 0 0 0.2em 0.2em;
     }
 }

 // Changing arrow colors based on state
 .current .item-wrap:before,
 .current .item-wrap:after {
     background-color: $brand-primary;
 }

 .active:hover .item-wrap:before,
 .active:hover .item-wrap:after {
     background-color: $clickable-hover;
 }

 .multi-step-item.error {

     .item-title,
     .item-subtitle {
         padding-right: ($base-padding * 2);
     }
 }

 // Changing step styles based on :first/:last step
 .multi-step-item:first-child .item-wrap,
 .multi-step-item:last-child .item-wrap {
     width: 100%;
     border-radius: $base-border-radius;

     &:before,
     &:after {
         width: 50%;
     }
 }

 // If first step, only point on the right
 .multi-step-item:first-child .item-wrap {
     background: linear-gradient(to right, $accent-lighter 95%, transparent 5%);

     &:before,
     &:after {
         left: 50%;
     }
 }

 .active.multi-step-item:first-child:hover .item-wrap {
     background: linear-gradient(to right, $clickable-hover 95%, transparent 5%);
 }

 .current.multi-step-item:first-child .item-wrap {
     background: linear-gradient(to right, $brand-primary 95%, transparent 5%);
 }

 // If last step, only indent on the left
 .multi-step-item:last-child .item-wrap {
     background: linear-gradient(to left, $accent-lighter 95%, transparent 5%);

     &:before,
     &:after {
         right: 50%;
     }
 }

 .active.multi-step-item:last-child:hover .item-wrap {
     background: linear-gradient(to left, $clickable-hover 95%, transparent 5%);
 }

 .current.multi-step-item:last-child .item-wrap {
     background: linear-gradient(to left, $brand-primary 95%, transparent 5%);
 }

 // MSI Checked & Complete
 .checked .multi-step-item.completed:after {
     position: absolute;
     top: 50%;
     z-index: 2;
     transform: translateY(-50%);
     right: 0.5em;
     content: $icon-success;
     color: $brand-success;
 }

 // MSI Numbered
 .numbered .multi-step-item {
     counter-increment: step-counter;
     max-width: max-content;

     .item-wrap {
         padding-left: ($base-padding * 5);
     }

     // Adds number to step
     &:before {
         content: counter(step-counter);
         position: absolute;
         top: 50%;
         left: 0.75em;
         transform: translateY(-50%);
         min-width: fit-content;
         padding: calc($base-padding / 2) $base-padding;
         z-index: 2;
         font-size: 0.85em;
         //background-color: $accent-light;
         //color: $text-color-inverted;
         background-color: $accent-light;
         color: $text-color-inverted;
         font-weight: 600;
         text-align: unset;
         border-radius: $base-border-radius;
     }
 }

 // MSI w/ badge counts
 .item-wrap .badge {
     position: absolute;
     right: 0.5em;
     top: 50%;
     transform: translateY(-50%);
     z-index: 3;
 }

 .error .item-wrap .badge {
     right: 2em;

     ~.item-title,
     ~.item-subtitle {
         padding-right: 3em;
     }
 }

 // MSI CSS Loader
 .multi-step-loading {
     opacity: 0.75;
 }

 .current.multi-step-loading:before {
     border-color: $text-color-inverted;
     border-top-color: transparent;
     opacity: 1;
 }

 .busy-css {
     z-index: 3;
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -0.5em;
     margin-left: -0.5em;
     border-radius: 50%;
     width: 1em;
     height: 1em;
     border: 0.25em solid $accent-dark;
     border-top-color: transparent;
     animation: spin ($animation-time * 2) infinite linear;
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 ::-webkit-scrollbar-thumb {
     background-color: #fff;
 }

 .p-card :hover {
     background: #c5e5ff !important;
 }

 .buttonfunc {
     position: absolute;
     right: 0px;
     max-width: 12rem;
     z-index: 100;
     display: none;
     padding: 0 0.5rem 0 0;
 }



 .multi-step:hover {
     .buttonfunc {
         display: unset;
     }
 }