@using GleamTech.AspNet.Mvc
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer
@{
    Layout = null;
  

    Model.FitMode = FitMode.FitPage;
    Model.SidePaneVisible = false;
    Model.MobileMode = MobileMode.OnPhone;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
        }

        div#documentViewer {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
    @this.RenderHead(Model)
</head>
<body>
    @this.RenderBody(Model)
</body>
</html>